* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  padding: 0px 30px;
}
