* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 800px;
  padding: 0px 30px;
  margin: 0 auto;
}

/************************************ 
  HEADER
*************************************/
#header .logo {
  line-height: 1px;
  position: fixed;
  top: 35px;
  left: 30px;
  z-index: 40;
  display: none;
}

.hamburger {
  width: 42px;
  height: 42px;
  background-color: #050507;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 30;
  display: none;
}

.hamburger span {
  background-color: #fff;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 6px;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 11px;
}
.hamburger span:nth-child(2) {
  top: 21px;
}
.hamburger span:nth-child(3) {
  top: 31px;
}

/************************************ 
  Bar Position 1
  ************************************/
.active.hamburger span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}
/************************************ 
    Bar Position 2
    ************************************/
.active.hamburger span:nth-child(2) {
  opacity: 0;
}

/************************************ 
    Bar Position 3
    ************************************/
.active.hamburger span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#nav {
  width: 100%;
  /* height: 100vh; */
  background-color: #050507;
  color: #fff;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  visibility: hidden;
}

#nav.active {
  opacity: 1;
  visibility: visible;
}

#header .menu {
  /* border: 1px red solid; */
  padding: 80px 0 30px;
}

#header .menu li {
  margin-bottom: 20px;
}

/************************************ 
  MAIN MAIN VISUAL
*************************************/
#container {
  background-color: #050507;
  color: #fff;
  text-align: center;
}

.mainVisual {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

main .main-title {
  /* color: #fff; */
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  /* text-align: center; */
  margin: 100px 0;
}

h2.subtitle {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-bottom: 45px;
}

/************************************ 
  MAIN INFORMATION
*************************************/

#info {
  margin-bottom: 140px;
}

.info-location {
  font-size: 2.5rem;
  margin: 20px 0;
}

#info span {
  font-size: 1.125rem;
  display: block;
}

#info span.info-date-en {
  font-size: 1.5rem;
}

/************************************ 
  MAIN GALLERY
*************************************/

#gallery {
  margin-bottom: 480px;
}

#gallery .gallery-imgs li:nth-child(odd) {
  text-align: left;
}

#gallery .gallery-imgs li:nth-child(even) {
  text-align: right;
}

#gallery .gallery-imgs li {
  margin-bottom: 60px;
}

li.fadein {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}

li.fadein.show {
  transform: translate(0, 0);
  opacity: 1;
}

#gallery .gallery-imgs li:last-child {
  margin-bottom: 0px;
}

#gallery .gallery-imgs img {
  width: 48%;
}

/************************************ 
  MAIN ACCESS
*************************************/
#access {
  border: 1px solid red;
  margin-bottom: 480px;
}

#access .access-location {
  font-size: 2.25rem;
  font-weight: bold;
}

.address {
  font-size: 1rem;
  margin: 20px 0;
}

.contact {
  font-size: 1rem;
}

.contact span {
  display: block;
}

#access a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 15px 82px;
  margin-top: 30px;
}
